<%- layout('layout.ejs') %>
<h1><%- title %></h1>
<p>What do you want to see?</p>
<ul>
    <li>
        <a href="/api/countries">Ten most populated countries</a> <a href="/api/countriesJSON">(JSON)</a><br/>
    </li>
    <li>
        <a href="/api/capitals">Canada Province capitals</a> <a href="/api/capitalsJSON">(JSON)</a><br/>
    </li>
</ul>